@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #005bff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: black;
  background: var(--background);
  font-family: var(--noto-sans), Arial, Helvetica, sans-serif;
}

/* SWIPER */
.custom-slider.swiper {
  width: 100%;
  position: static;
}

.custom-slider.swiper .swiper-button-next:after,
.custom-slider.swiper .swiper-button-prev:after {
  content: '';
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
  border: 1px solid rgb(156 163 175 / var(--tw-text-opacity, 1));
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 900;
  background-size: cover;
  background-position: center;
  background-color: white;
  position: static;
}

.custom-slider.swiper .swiper-button-next:after {
  background-image: url('/icon/arrows/right.png');
}
.custom-slider.swiper .swiper-button-next {
  right: -13px;
}
.custom-slider.swiper .swiper-button-prev:after {
  background-image: url('/icon/arrows/left.png');
}
.custom-slider.swiper .swiper-button-prev {
  left: -13px;
}

.custom-slider.swiper .swiper-slide {
  width: 148px;
  height: auto;
}